body {
}
.title {
    background-color: white;
    color: black;
}

.tooltip-inner {
    max-width: 500px;
    padding: 3px 8px;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: black;
    border-radius: .25rem;
}